@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Roboto&family=Teko&display=swap');
/* Tela de cadastro */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}
body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
   
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100vw;
    align-items: center;
}
.main-login{
    background-color: #ffffff;
    width: 350px;
    padding: 50px;
    border-radius: 7px;
    box-shadow: 0 5px 20px -1px #38333830;
}
h1 {
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
}
h2{
    text-align: center;
    padding-top: 2px ;
    padding-bottom: 8px;
    font-size: 0.9rem;
    font-weight: 200;
}
.imagem-login{
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;

}
input{
    display: flex;
    margin-top: 10px;
    padding: 5px 0px;
    padding-left: 4px;
    outline: none;
    width: 100%;
    outline-color:#e1e1ec;
    border-radius: 2px;
    border: 1px solid #34528d10;
    
}
input:focus{
    background: #2a529810;
    border-color: dodgerblue;


}
.btn-green{
    background-image: linear-gradient(to right,  #34af23 0%, #95df3b  51%,  #34af23  100%);
    border: 0;
    border-radius: 2px;
    background-size: 200% auto;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    margin-left: 4px;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: 0.5s ease;
}
.btn-green:hover {
    background-position: right center; /* colocar efeito da direçao do botão */
    color: #fff;
    text-decoration: none;
  }
.btn-blue {
    background-image: linear-gradient(to right, #1e3c72 0%, #2a5298  51%, #1e3c72  100%);
    border: 0;
    border-radius: 2px;
    background-size: 200% auto;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    margin-left: 4px;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: 0.5s ease;
}
.btn-blue:hover {
    background-position: right center; /* colocar efeito da direçao do botão */
    color: #fff;
    text-decoration: none;
}
p{
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
}
#msgErro{
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width: 375px) {
    body{
        background: #f5f5f5;
     }
     .container{
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
        max-width: 100%;
        
    }
    
     .main-login{
        border-radius: 0;
    }
}
@media screen and (max-width: 1366px) {
 
    .container{
        display: flex;
        justify-content: center;
        margin-top: 1vh;
        margin-bottom: 1vh;
        max-width: 100%;
        
    }
    
    h1 {
        text-align: center;
        padding-top: 2px;
        font-weight: 600;
    }

}









    
    

