@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Roboto&family=Teko&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
body{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
a{
    color: black;
    text-decoration: none;
    transition: 0.5s ease;
}
a:hover{
    color: #49b6ff;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    max-width: 100%;
    
}
.main-login{
    background-color: #ffffff;
    padding: 50px;
    width: 350px;
    border-radius: 7px;
    box-shadow: 0 5px 20px -1px #38333830;
}
h1 {
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
}
h2{
    text-align: center;
    padding-top: 2px ;
    padding-bottom: 8px;
    font-size: 0.9rem;
    font-weight: 200;
}
.imagem-login{
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}
input{ /* cor do input e não usado no check */
    display: inline-block;
    margin-top: 10px;
    padding: 5px 0px;
    padding-left: 4px;
    outline: none;
    width: 100%;
    border: 1px solid #18284810;
    border-radius: 1px;
}
input:focus{
    background: #2a529810;
    border-color: dodgerblue;
}

.esqueci-a-senha {
    color: black;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
}
.btn-login{
    background-image: linear-gradient(to right,  #34af23 0%, #95df3b  51%,  #34af23  100%);
    border: 0;
    border-radius: 2px;
    background-size: 200% auto;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    margin-left: 4px;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: 0.5s ease;
}
.btn-login:hover {
    background-position: right center; /* colocar efeito da direçao do botão */
    color: #fff;
    text-decoration: none;
  }
.btn-cadastro{
    background-image: linear-gradient(to right, #1e3c72 0%, #2a5298  51%, #1e3c72  100%);
    border: 0;
    border-radius: 2px;
    background-size: 200% auto;
    color: #fff;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    margin-left: 4px;
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: 0.5s ease;
}
.btn-cadastro:hover {
    background-position: right center; /* colocar efeito da direçao do botão */
    color: #fff;
    text-decoration: none;
  }
.cadastrar{
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
}
#msgErro{
    font-size: 12px;
    text-align: center;

}
@media screen and (min-width: 320px) and (max-width:425px ){
    body{
        background: white;
    }
}

@media  (max-width: 1366px) {
   
    .container{
        display: flex;
        justify-content: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
        max-width: 100%;
        
    }
    .main-login{
        background-color: #ffffff;
        padding: 50px;
        width: 350px;
        border-radius: 7px;
        box-shadow: 0 5px 20px -1px #38333830;
    }
}


    
    

